@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* колір заголовків  #212121*/
/* колір основного тексту #757575 */
/* колір лого #000000 */
/* колір акценту/лого #2196F3 */
/* основний колір фону  #FFFFFF */
/* вторинний колір фону #F5F4FA */
/* вторинний колір фону #2F303A */
/* вторинний колір адреса color: rgba(255, 255, 255, 0.6); */
/* колір фон кнопка #F5F4FA; */
/* стайл основа */
body {
  font-family: Roboto, sans-serif;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  background-color: #ffffff;
}

/* стайл лінків */
a {
  text-decoration: none;
}

/*чистить відступи у заголовках і абзаці*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*logo*/
.page-footer__logo, .page-header__logo, .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/*cтилізує контент по центрі сторінки*/
.container-flex, .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* стайл списки */
.feacher, .contact, .nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feacher {
  display: flex;
}

.contact, .nav {
  display: flex;
  margin-left: auto;
  height: 100%;
}

/* стайл кнопка */
.button {
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  font-family: inherit;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*cтилізує контент по центрі сторінки*/
.container-flex {
  display: flex;
}

/* стайл лголовна кнопка */
.button {
  padding: 10px 32px;
  min-width: 216px;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.opacity, .section__title--opacity {
  position: absolute;
  opacity: 0;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.sub-title, .feacher__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav__item {
  position: relative;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  transition: coloor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px 2px 2px 2px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: #2196f3;
}

.page-header__logo {
  margin-right: 93px;
  color: #000000;
}

.page-footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.contact__item {
  display: block;
}
.contact__item:not(:last-child) {
  margin-right: 30px;
}
.contact__link {
  display: flex;
  padding: 32px 0;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}
.contact__icon {
  padding: 0;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: #2196f3;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__titel {
  font-weight: 900;
  font-size: 44px;
  margin-bottom: 40px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.feacher__item:not(:last-child) {
  margin-right: 30px;
}
.feacher__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.feacher__title {
  margin-bottom: 10px;
  color: #212121;
}
.feacher__description {
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */