.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $sec-bgr-color;
  &__container {
    @media screen and(max-width:767px) {
      text-align: center;
    }
    @media screen and(min-width:$tablet) {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-wrap: wrap;
    }
    @media screen and(min-width:$desktop) {
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
}
.address {
  @media screen and(min-width:$tablet) {
    margin-right: 165px;
    text-align: center;
  }
  @media screen and(min-width:$desktop) {
    margin-right: 70px;
    text-align: left;
  }
}
.adr {
  @media screen and(max-width:1199px) {
    text-align: center;

  }

  &__item {
    @media screen and(max-width:1199px) {
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
    font-style: normal;
    letter-spacing: 00.03em;
    color: $primary-white-color;
  }
  &__contact {
    color: rgba(255, 255, 255, 0.6);
    transition: color $transititon-time $cubic-fnc;
  }
  &__contact:hover,
  &__contact:focus {
    color: $accent-color;
    outline-width: 0;
  }
}
.join {
  padding: 0;
  @media screen and(max-width:767px) {
    margin-bottom: 60px;
    text-align: center;
  }

  &__title {
    @media screen and(max-width:1199px) {
      text-align: center;
    }

    margin-bottom: 20px;
    @include font(700, 14px, 1.14, 00.03em);

    text-transform: uppercase;
    color: $primary-white-color;
  }
  &__list {
    @include centeredFlex(flex, center, center);
    gap: 10px;
  }
  &__item {
    border-radius: 50%;
    background-color: $bgr-media-footer;
    transition: background-color $transititon-time $cubic-fnc;
  }
  &__link {
    @include centeredFlex(flex, center, center);
    position: relative;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: inherit;
    color: $primary-white-color;
    transition: background-color $transititon-time $cubic-fnc;
  }
  &__item:hover,
  &__link:focus {
    background-color: $accent-color;
    outline-width: 0;
  }
}
.folow {
  @media screen and(max-width:1199px) {
    text-align: center;
    margin: 0;
  }
  max-width: 570px;
  padding: 0;
  margin-left: auto;
  &__title {
    margin-bottom: 20px;
    @include font(700, 14px, 1.14, 00.03em);

    text-transform: uppercase;
    color: $primary-white-color;
  }

  &__form {
    @media screen and(min-width:$desktop) {
      display: flex;
      width: 570px;
      gap: 12px;
    }
  }
  &__label {
    @media screen and (max-width: 1199px) {
      max-width: 450px;
    }

    width: 100%;
  }
  &__input {
    @media screen and (min-width: $desktop) {
      margin-right: 12px;
      width: 100%;
    }
    @extend%input;

    padding: 15px 16px;
    background-color: $sec-bgr-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  &__input:hover,
  &__input:focus {
    border-color: $accent-color;
    outline-width: 0;
  }
  &__input::placeholder {
    @include font(400, 16px, 1.25, 00.03em);
    color: rgba(255, 255, 255, 0.6);
  }
  &__btn {
    @media screen and(max-width:1199px) {
      margin-top: 20px;
      padding: 10px 31px;
    }

    @extend%btn;
    @include font(700, 16px, 1.88, 00.06em);
    min-width: 200px;
    position: relative;
 
    text-align: center;
    background-color: $accent-color;
  }
  &__btn:hover,
  &__btn:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline-width: 0;
  }
  &__icon {
    @media screen and(max-width:1199px) {
      margin-left: 12px;
    }
    @extend .icon;
    margin-left: 10px;
    vertical-align: middle;
  }
  &__icon:hover,
  &__icon:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline-width: 0;
  }
}
