/*cтилізує контент по центрі сторінки*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  fill: currentColor;
  transition: fill $transititon-time $cubic-fnc;
}
.media {
  @include centeredFlex(flex, center, center);
  gap: 10px;
  &__item {
    border-radius: 50%;
  }

  &__link {
    @include centeredFlex(flex, center, center);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: inherit;
    color: $primary-icon-color;
    transition: background-color $transititon-time $cubic-fnc;
  }
  
}
.media__link{
  .media__item:hover &{
    background-color: $accent-color;
  }
}
.icon{
  .media__link:focus &,
  .media__item:hover &{
    fill: $primary-white-color;
    outline-width: 0;
    }
    .clients__link:hover &,
    .clients__link:focus &{
      fill:$accent-color;
      outline-width: 0;
    }
    

    
   
}