/* стайл основа */
body {
  font-family: Roboto, sans-serif;

  font-size: 14px;
  line-height: 1.71;
  color: $primary-text-color;
  background-color: $primary-white-color;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
address{
padding-top: 20px;
padding-bottom: 60px;
}
/* стайл лінків */
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*чистить відступи у заголовках і абзаці*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
// navigation
nav {
  @media screen and (max-width:767px) {
  position:relative ;
    width: 100%;
      justify-content: space-between;
      padding: 16px 0;
    }
  display: flex;
  align-items: center;
  
}
