.features {
  @media screen and(max-width:1199px) {
    padding: 60px 0;
  }
  &__title--hidden {
    position: absolute;
    opacity: 0;
  }

  &__list {
    @media screen and(min-width:$tablet ) {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }
    @media screen and(min-width:1200px) {
      flex-wrap: nowrap;
    }
  }
  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    @media screen and(min-width:$tablet ) and(max-width:1199px) {
      width: calc((100% - 30px) / 2);
    }
  }
  &__icon {
    @include centeredFlex(flex, center, center);
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $thirth-bgr-color;
  }
  &__title {
    @media screen and(max-width:767px){
      text-align: center;
    }
    margin-bottom: 10px;

    @include font(700, 14px, 1.14, 0.03);
    text-transform: uppercase;

    color: $title-text-color;
  }
  &__desc {
    letter-spacing: 0.03em;
  }
}
