.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  text-align: center;

  background-color: $sec-bgr-color;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    margin-bottom: 40px;

    @include font(900, 44px, 1.36, 0.06em);

    text-transform: uppercase;
    color: $primary-white-color;
  }
  &__btn {
    @extend%btn;
    padding: 10px 32px;
    min-width: 216px;

    @include font(700, 16px, 1.88, 0.06em);

    background-color: $accent-color;
    box-shadow: none;
    transition: box-shadow $transititon-time $cubic-fnc;

    &:hover,
    &:focus {
      background-color: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      outline-width: 0;
    }
  }
}
