.hero {
  margin: 0 auto;
  text-align: center;
  background-color: $sec-bgr-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    image-set(
      url(../images/hero/bg_mobile_480.jpg) 1x,
      url(../images/hero/bg_mobile_960.jpg) 2x,
      url(../images/hero/bg_mobile_1440.jpg) 3x
    );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 480px;
 
  padding: 118px 0;
  @media (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
        url(../images/hero/bg_tablet_768.jpg) 1x,
        url(../images/hero/bg_tablet_153.jpg) 2x,
        url(../images/hero/bg_tablet_2304.jpg) 3x
      );
    max-width: 768px;
  }
  @media (min-width: 769px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      image-set(
        url(../images/hero/bg_desctop_160.jpg) 1x,
        url(../images/hero/bg_desctop_320.jpg) 2x,
        url(../images/hero/bg_desctop_480.jpg) 3x
      );
    max-width: 1600px;
    
    
  }
  @media screen and(min-width:$desktop){
    padding: 200px 0;
  }
  &__title {
    @media screen and(max-width:1199px){
        @include font(900, 26px, 1.62, 0.06em);
       
    }
    margin-bottom: 30px;

    @include font(900, 44px, 1.36, 0.06em);

    text-transform: uppercase;
    color: $primary-white-color;
  }
  &__btn {
    @extend%btn;
    padding: 10px 32px;
    min-width: 216px;

    @include font(700, 16px, 1.88, 0.06em);

    background-color: $accent-color;
    box-shadow: none;
    transition: box-shadow $transititon-time $cubic-fnc;

    &:hover,
    &:focus {
      background-color: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      outline-width: 0;
    }
  }
}
