/* стайл кнопка */
%btn {
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  font-family: inherit;

  color: $primary-white-color;
  background-color: $thirth-bgr-color;
  border-color: $thirth-bgr-color;
  transition: background-color $transititon-time $cubic-fnc, color $transititon-time $cubic-fnc;
}
%input {
  width: 100%;
  font-size: 16px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color $transititon-time $cubic-fnc;
}
