/* колір заголовків  #212121*/
/* колір основного тексту #757575 */
/* колір лого #000000 */
/* колір акценту/лого #2196F3 */
/* основний колір фону  #FFFFFF */
/* вторинний колір фону #F5F4FA */
/* вторинний колір фону #2F303A */
/* вторинний колір адреса color: rgba(255, 255, 255, 0.6); */
/* колір фон кнопка #F5F4FA; */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$logo-black-color: #000000;
$primary-white-color: #ffffff;
$sec-bgr-color: #2f303a;
$thirth-bgr-color: #f5f4fa;
$primary-icon-color: #afb1b8;
$bgr-media-footer: rgba(255, 255, 255, 0.1);
$cubic-fnc: cubic-bezier(0.4, 0, 0.2, 1);
$transititon-time: 250ms;

//*************brakepoints************************//
$mobile:479.98px;
$tablet:767.98px;
$desktop:1199.98px;